ALTER TABLE public.assets ADD COLUMN IF NOT EXISTS koebs_dato DATE; ALTER TABLE public.assets ADD COLUMN IF NOT EXISTS garanti_udloeb DATE; CREATE INDEX IF NOT EXISTS idx_assets_koebs ON public.assets(koebs_dato);
